@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

:root{
    --color1:#006D77;
    --color2:#83C5BE;
    --color3: #FFDDD2;
    --color4:#E29578;
}
body{
    background-color: #ffffff;
    min-height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    header{
     img{
        margin-top: 55px;
       
     }
    }
    section.homepage{
        display: flex;
        flex-direction: column;

        img{
            margin-top: 90px;
            margin-bottom: 92px;
        }
        
        a:is(:link, :visited){
            display: flex;
            border-radius: 50px;
            background-color: var(--color3);
            height: 72px;
            width: 286px;
            justify-content: center;
            text-transform: uppercase;
            font-size: 32px;
            align-items: center;
            font-family: 'Pompiere';
            margin-top: 110px;
            margin-bottom: 220px;
            text-decoration: none;
          
        }
            a:is(:hover){
                border: 2px solid #fff;
                background-color: #FFDDD2;
                color: #FFDDD2;
            }

}

section.login,
section.register,
section.create,
section.edit{
    menu{
        padding: 0;
        display: flex;
        a:is(:link, :visited){
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            text-decoration: none;
            height: 80px;
            width: 190px;
        }
        a:first-child{
            background-color: var(--color1);
            color: #83C5BE;
            border-radius: 50px 0 0 50px;
            font-family: 'Pompiere', sans-serif;
        }
        a:last-child{
            background-color: #83C5BE;
            color: #006D77;
            border-radius: 0 50px 50px 0;
            font-family: 'Pompiere', sans-serif;


        }
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        margin-top: 104px;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        font-family: 'Pompiere', sans-serif;
        

        input,select, button{
            border: none;
            border-radius: 50px;
            padding: 20px;
            width: 341px;
            background-color:#83C5BE;
            font-family: 'Pompiere', sans-serif;
            font-size: 25px;
            color: #006D77;
      
        }
        select{
            appearance: none;
            width: 385px;
        }
        
        input, select{
            background-color: #FFDDD2;
            font-size: 24px;
            font-weight: 400;
            transition: all 0.5s ease-in;
            &::placeholder{
                color: #006D77;
                text-transform: uppercase;
            }
            section.register{
                menu{
                    a:first-child{
                        background-color: #83C5BE;
                        color: #006D77;
                        border-radius: 0 50px 50px 0;
            
                    }
                    a:last-child{
                        background-color: #006D77;
                        color: #83C5BE;
                        border-radius: 50px 0 0 50px;
                        background-color: #83C5BE;
                        color: #006D77;
                        border-radius: 0 50px 50px 0;
            
            
                    }

                }
            }
            
        }
    }
}


header.nav{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;

    a:first-of-typ{
        transition: all 0.2s ease-in;
        &:hover{
            transform: translate(-10px);
        }
    }
}


header.nav.level-0{
    a:first-of-type{
        visibility: hidden;
        pointer-events: none;
    }
}

section.dashboard{
    h1{
        font-size: 24px;
        color: #006D77;
        text-align: center;
        text-transform: uppercase;
        margin: 2.4rem 0;
    }


    menu{
        padding: 0;
        ul{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            list-style: none;
            li{
                background-color: #83C5BE;
                border-radius: 20px;
                padding: 1rem;
                width: 400px;
                a:is(:link, :visited){
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    color: #fff;
                    text-decoration: none;
                    font-family: 'Pompiere';
                    font-size: 25px;
                }
              
              
                a{
                    img{
                        transition: all 0.5s ease-in;


                    };
                }
                &:hover{
                   
                    a{
                        img{
                            transform: scale(1.1);
                        }
                    }
                }
            }
            .pet{
                background-color: #FFDDD2;
                color: #E29578;
              }
        }
    }
}

section.module{
    h1{
        font-size: 20px;
        color:#fff;
        text-align: center;
        text-transform: uppercase;
        margin: 2.4rem 0;
    }

    a.add:is(:link, :visited){
        background-color: #006D77;
        border-radius: 40px;
        display: flex;
        gap: 1rem;
        align-items: center;
        color: #ffffff;
        padding: 1rem;
        text-decoration: none;
        margin-bottom: 1rem;
        font-family: 'Pompiere';
        font-size:24px; 
        margin-bottom: 1rem;
        transition: all 0.4s ease-in;
    }
    table{
        color:#E29578;
        border-collapse: collapse;
        width: 400px;
        display: flex;
        tbody{
            tr{
                border-radius: 20px;
                background-color: #FFDDD2;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2.2rem;
                &:nth-last-child(even){
                    background-color:#83C5BE ;
                    color: #006D77;
                }
                td{
                    padding: 16px;
                    a:is(:link, :visited){
                        text-decoration: none;
                        img{
                            transform: scale(0.9);
                            transition: all 0.2s ease-in;
                        }
                        }
                    a:is(:hover)img{
                        transform: scale(1);
                    }
                }

                td:nth-child(1){
                    img{
                        border-radius: 100px;
                        height: 60px;
                        width: 60px;
                        font-family: 'Pompiere';
                    }
                }

                td:nth-child(2){
                    display: flex;
                    flex-direction: column;
                    width: 160px;
                    
                }

            }
        }
    }
}

section.create, 
section.edit, 
section.show{
    h4{
        font-size: 28px;
        color:#006D77;
        text-align: center;
        text-transform: uppercase;
        margin: 2.4rem 0;
        font-family: 'Pompiere';
    }
    form{
        img#upload{
            border-radius: 200px;
            cursor: pointer;
            object-fit: cover;
            height: 240px;
            border: 2px solid #fff;
            transition: all 0.4s ease-out;
            width: 240px;
            &:hover{
                transform: scale(1.05);
            }
        }
        input[type=file]{
            display:none;
        }
    }
}
section.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    img.photo{
        border-radius: 200px;
        border: 1px solid #006D77;
        object-fit: cover;
        width: 280px;
        height: 280px;
    }
    div.info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
        margin-top: 1rem;

        p{
            border-radius: 50px;
            background-color: #FFDDD2;
            padding: 10px;
            font-family: 'Pompiere';
            width: 250px;
            margin: 0;
        }
    }
}

div.pets{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    article{
        border-radius: 20px;
        background-color:#FFDDD2;
        padding: 16px;
        width: 160px;
        header{
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            img{
                margin-top: 0;
                width: 60px;
            }
            p{
                display: flex;
                flex-direction: column;
                span:last-child{
                    font-weight: 300;
                    font-size: 14px;
                }
                font-family: 'Pompiere';
                
            }
        }
    }
    footer{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        a:is(link, :visited){
            background-color: #E29578;
            color: #fff;
            display: flex;
            justify-content: center;
            width: 120px;
            border-radius: 20px;
            text-decoration: none;
            transition: all 0.4s ease-in;
            padding: 4px;

        }
    }
    a:is(:hover){
        transform: scale(1.1);
    }
    article:nth-child(3n){
        background-color: #83C5BE;
    }
}
.btn{
    display: flex;
        color: #006D77;
        border: 2px solid #006D77;
        border-radius: 50px;
        background-color: #83C5BE;
        font-size: 32px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 64px;
        transition: all 0.4s ease-in;
        margin-top: 1rem;
        font-family: 'Pompiere';
    }
    .btn:is(:hover){
        border: 2px solid #006D77;
        background-color: #83C5BE;
        cursor: pointer;
        color: #006D77;
    }

    div.menu{
        background-color: #FFDDD2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: -2000px;
        opacity: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        justify-content: center;
        transition: all 0.5s ease-in;
        min-height: 100vh;
        width: 100%;
    
    
        a:is(:link, :visited){
            border: 1px solid #E29578;
            border-radius: 50px;
            color: #fff;
            font-size: 2rem;
            padding: 10px 20px;
            text-decoration: none;
        }
        a.closem{
            position: absolute;
            top: 44px;
            right: 5px;
        }
        nav{
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
    
            img{
                border: 2px solid #E29578;
                border-radius: 60%;
                width: 200px;
                height: 200px;
            }
    
            h4, h5{
                margin: 0;
            }
        }
    }
    div.menu.open{
       top: 0;
       opacity: 1;
    
    }
    
    .closes{
        border: none;
            border-radius: 50px;
            padding: 20px;
            width: 341px;
            background-color:#E29578;
            font-family: 'Pompiere', sans-serif;
            font-size: 25px;
            color: #FFDDD2;
    }

}


    

    h1{
        font-family: 'Pompiere';
        font-size: 60px;
        color: #006D77;
        text-align: center;
       
    }
    
    h2{
        font-family: 'Pompiere';
        font-size: 60px;
        color: #006D77;
        text-align: center;
        
       
    }
    
    h3{
        font-family: 'Pompiere';
        font-size: 60px;
        color: #006D77;
        text-align: center;
       
    }